.AppBar-wrapper {
  position: absolute;
  top: 20px;
  left: 20px;
  width: calc(100% - 40px);
  min-height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.AppBar-logo-appear {
  transform: translateX(-100%);
}
.AppBar-logo-appear-active {
  transform: translateX(0);
  transition: all 500ms linear;
}
.AppBar-notification-enter {
  transform: translateX(100%);
}
.AppBar-notification-enter-active {
  transform: translateX(0);
  transition: all 250ms linear;
}
.AppBar-notification-exit {
  transform: translateX(0);
}
.AppBar-notification-exit-active {
  transform: translateX(100%);
  transition: all 250ms linear;
}
